# Ignore GitHub tracked files
.git/

# Ignore Edge & Client files that are useless on GCP Hub
.env
backend/edge/
ts-proxy/
dev_tools/
tests/
*.bat
docs/

# Explicitly allow backend/hub even if it's in .gitignore!
!backend/hub/
!backend/hub/**
!backend/hub/Dockerfile
